<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Lotus : {% endblock %}</title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" type="text/css">
        {% stylesheets 
            'bundles/lotus/css/main.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
        {% endstylesheets %}
        
        {% javascripts 
            'bundles/fosjsrouting/js/router.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        {{ include("LotusBundle::header.html.twig") }}
        <section class="container">
            <div class="col-xs-12">
                {% block body %}
                {% endblock %}
            </div>
        </container>
       
    </body>
</html>